*{
box-sizing:border-box;
font-family:Inter,Arial,sans-serif;
}


body{

margin:0;

background:#050505;

color:white;

overflow-x:hidden;

}



/* animated background */


.blob{

position:fixed;

width:400px;
height:400px;

border-radius:50%;

filter:blur(100px);

z-index:-1;

animation:move 10s infinite alternate;

}


.blob1{

top:-100px;
left:-100px;

background:#6d5cff;

}


.blob2{

right:-100px;
top:300px;

background:#00eaff;

}


.blob3{

bottom:-100px;
left:40%;

background:#ff00cc;

}



@keyframes move{

from{

transform:translateY(0);

}

to{

transform:translateY(80px);

}

}



/* glass */


.glass{


background:
rgba(255,255,255,0.12);


border:

1px solid rgba(255,255,255,0.25);


backdrop-filter:

blur(25px);


-webkit-backdrop-filter:

blur(25px);



box-shadow:

0 20px 80px rgba(0,0,0,.4);


border-radius:30px;


}




.navbar{

margin:30px;

padding:20px 40px;

display:flex;

justify-content:space-between;

align-items:center;


}



.navbar a{

color:white;

text-decoration:none;

margin-left:25px;

}



.hero{

height:85vh;

display:flex;

align-items:center;

justify-content:center;

}



.profile{

padding:50px;

text-align:center;

width:500px;

}



.avatar{

width:130px;

height:130px;

border-radius:50%;

border:3px solid white;

}



h1{

font-size:50px;

}



.buttons a{


display:inline-block;


padding:15px 30px;


margin:10px;


border-radius:50px;


background:white;


color:black;


text-decoration:none;


}



section{

padding:70px 10%;

}



.grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(280px,1fr));


gap:30px;


}



.project{

padding:25px;


}



.project img{

width:100%;

border-radius:20px;


}



.box{

padding:40px;


}



.tags span{


display:inline-block;


padding:12px 20px;


margin:8px;


border-radius:50px;


background:

rgba(255,255,255,.15);


}
